<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="fumer gay">
  <meta property="og:description" content="a funny website">
  {%block opengraph%}{%endblock%}
  <title>CSGOANIME | {% title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
  {%block scripts%}{%endblock%}
  {%block style%}{%endblock%}
</head>

<body>
{%block body%}

{%endblock%}
</body>
</html>
