{% extends 'base.html' %}

{%block opengraph%}
  <meta property="og:title" content="{{ video_name }} | CSGOANI.ME">
  <meta property="og:description" content="csgoani.me but better">
  <meta property="og:url" content="{{ request.url }}">
  <meta property="og:video" content="{{ video_url }}">
  <meta property="og:type" content="video.other">
  <meta property="og:video:type" content="video/webm">
  <meta property="og:video:width" content="1280">
  <meta property="og:video:height" content="720">
{%endblock%}

{%block title%} {{total}} webms | {{video_url.split('/')[-1].split('.')[0]}} {%endblock%}

{%block scripts%}
<script>
  window.initialVideoUrl = "{{ video_url }}";
</script>
{% endblock %}

{%block style%}
<link href="/static/style.css" rel="stylesheet" type="text/css" media="all">
{%endblock%}

{%block body%}
  <div id="clickCatcher"></div>

  <div id="initialImage">
    <img src="https://csgoani.me/resources/unmute.webp" alt="Click to unmute and start">
  </div>

  <video id="vid" controls playsinline></video>

  <div id="videoHistory" class="video-history"></div>

  <div class="video-info" id="videoInfo">
    <a style="color:#ffffff" href="https://discordapp.com/invite/MPwFdEQ" target="_blank">Join Discord</a>
    &nbsp;|&nbsp;
    Video: <span id="videoName"></span>
    &nbsp;|&nbsp; Tap to copy link
  </div>
<script src="/static/script.js"></script>
{%endblock%}