html, body {
  margin: 0;
  padding: 0;
  background: #111;
  font-family: sans-serif;
  color: white;
  overflow-x: hidden;
}

#reelWrapper {
  display: flex;
  flex-direction: column;
}

.reel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel-video {
  width: 70vw;
  max-width: 700px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.4);
}
